<%- include("partials/header.ejs") %>

<body>
  <%- include("partials/backHome.ejs") %>

  <h1>Adding a new Author</h1>

  <form method="POST" action="/author/new">
    First Name:
    <input type="text" name="fName" required>
    <br>

    Last Name:
    <input type="text" name="lName" required>
    <br>

    Date of Birth:
    <input type="date" name="birthDate" required>
    <br>

    Date of Death (optional):
    <input type="date" name="birthDeath">
    <br>

    Sex:
    <label><input type="radio" name="sex" value="M" required> Male</label>
    <label><input type="radio" name="sex" value="F" required> Female</label>
    <br>

    Profession:
    <input type="text" name="profession" required>
    <br>

    Country:
    <input type="text" name="country" required>
    <br>

    Portrait URL:
    <input type="url" name="portrait" required size="70">
    <br>

    Biography:
    <textarea name="biography" rows="5" cols="70" required></textarea>
    <br><br>

    <button type="submit">Add Author</button>
  </form>

  <% if (typeof message != "undefined") { %>
    <p style="color: rgb(172, 191, 0); font-weight: 700;"><%= message %></p>
  <% } %>

  <%- include("partials/footer.ejs") %>
</body>
</html>